* {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  all: unset;
  width: 100%;
}

html {
  background-color: rgb(28, 27, 35);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.accordion {
  border-radius: 0.8rem;
  margin: 0px 10px;
  max-width: 500px;
  min-width: 300px;
  height: fit-content;
  color: white;
}

h1 {
  color: rgb(255, 138, 228);
}

.sub-title {
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(255, 138, 228);
}

.cross-icon {
  width: 30px;
  transform: rotate(0deg);
  transition: 300ms;
  transform: translateX(30px);
  opacity: 0;
}

.img-flexbox {
  display: flex;
  justify-content: center;
}

.meme {
  width: 400px;
  height: 0px;
  transition: 300ms;
  object-fit: cover;
}

.accordion:hover .cross-icon {
  display: inline-block;
  transform: translateX(0px);
  opacity: 100;
}

.accordion:hover {
  color: rgb(255, 138, 228);
}

.accordion-section:hover {
  cursor: pointer;
}

.accordion-section:hover .meme {
  height: 400px;
  width: auto;
  margin-bottom: 20px;
}

.accordion-section:hover .cross-icon {
  transform: rotate(45deg);
}

button:active h2 {
  color: white;
}

button:active .cross-icon {
  filter: brightness(0%);
}

button:active .meme {
  filter: opacity(40%);
}

button:active .cross-icon {
  filter: brightness(200%);
}

input {
  display: none;
}

input[type="radio"]:checked + button > label > div > .meme {
  height: 400px;
  width: auto;
  margin: 30px 0px;
}

input[type="radio"]:checked + button > label > div > .cross-icon {
  transform: rotate(45deg);
}

input[type="radio"]:checked + button {
  color: rgb(255, 138, 228);
}

@media (width > 320px) and (width < 820px) {
  .sub-title {
    font-size: 14px;
  }
}

@media (width >= 820px) {
  .sub-title {
    font-size: 16px;
  }
}
